In [3]:
import pandas as pd
import numpy as np

import polars as pl
import re

In [4]:
ken_pom_path=  "data/kenpom_data.csv"

teamd_id = "data/MTeams.csv"

In [5]:
df = pd.read_csv(ken_pom_path)

teams_df = pd.read_csv("data/Mteams.csv")

## some cleaning

In [6]:
df.loc[df["Year"] > 2019, "Year"] += 1

In [7]:

def clean_team_name(name):
    name = re.sub(r'[\d.;]', '', name)  # Remove numbers, periods, and semicolons
    return name.strip()

df["Team"] = df["Team"].apply(clean_team_name)

In [35]:
# Define the manual replacements again since execution state was reset
team_replacements = {
    "Brigham Young": "BYU",
    "Nevada Las Vegas": "UNLV",
    "Southern California": "USC",
    "St Mary's": "St Mary's CA",
    "Saint Mary's": "St Mary's CA",
    "Texas El Paso": "UTEP",
    "Southern Mississippi": "Southern Miss",
    "College of Charleston": "Col Charleston",
    "Virginia Commonwealth": "VCU",
    "North Carolina St": "NC State",
    "Central Florida": "UCF",
    "Coastal Carolina": "Coastal Car",
    "East Tennessee St": "ETSU",
    "South Dakota St": "S Dakota St",
    "Kent St": "Kent",
    "Long Island": "LIU",
    "Northern Colorado": "N Colorado",
    "NC Asheville": "UNC Asheville",
    "Southern Methodist": "SMU",
    "Loyola Chicago": "Loyola-Chicago",
    "Wisconsin Milwaukee": "WI Milwaukee",
    "Central Connecticut": "Central Conn",
    "Wisconsin Green Bay": "Green Bay",
    "Western Michigan": "W Michigan",
    "George Washington": "G Washington",
    "Texas Christian": "TCU",
    "Boston University": "Boston Univ",
    "North Dakota St": "N Dakota St",
    "Middle Tennessee": "MTSU",
    "IUPU Fort Wayne": "IPFW",
    "Pennsylvania": "Penn",
    "American": "American Univ",
    "Florida Atlantic": "FAU",
    "Western Carolina": "W Carolina",
    "Saint Joseph's": "St Joseph's",
    "Virginia Military Inst": "VMI",
    "Stephen F Austin": "SFA",
    "Arkansas Little Rock": "Little Rock",
    "Cal St Northridge": "CSU Northridge",
    "NC Wilmington": "UNC Wilmington",
    "Charleston Southern": "Charleston So",
    "Texas San Antonio": "UTSA",
    "Western Kentucky": "WKU",
    "Louisiana Lafayette": "Louisiana",
    "Louisiana St": "LSU",
    "Eastern Kentucky": "E Kentucky",
    "Southern Illinois": "S Illinois",
    "Albany": "Albany NY",
    "Texas Arlington": "UT Arlington",
    "Southeastern Louisiana": "SE Louisiana",
    "Northwestern St": "NW State",
    "Cal St Fullerton": "CS Fullerton",
    "Eastern Washington": "E Washington",
    "Illinois Chicago": "IL Chicago",
    "Mount St Mary's": "Mt St Mary's",
    "Missouri Kansas City": "UMKC",
    "Northern Illinois": "N Illinois",
    "NC Greensboro": "UNC Greensboro",
    "Florida Gulf Coast": "FGCU",
    "The Citadel": "Citadel",
    "Bethune Cookman": "Bethune-Cookman",
    "Monmouth": "Monmouth NJ",
    "Eastern Michigan": "E Michigan",
    "Florida International": "FIU",
    "Texas Southern": "TX Southern",
    "Central Michigan": "C Michigan",
    "Southeast Missouri St": "SE Missouri St",
    "Tennessee Martin": "UT Martin",
    "North Carolina A&T": "NC A&T",
    "Eastern Illinois": "E Illinois",
    "North Carolina Central": "NC Central",
    "NJ Inst of Technology": "NJIT",
    "Texas A&M Corpus Chris": "TAMU-CC",
    "Mississippi Valley St": "MVSU",
    "Fairleigh Dickinson": "FDU",
    "Cal St Bakersfield": "CSU Bakersfield",
    "Kennesaw St": "Kennesaw State",
    "South Carolina Upstate": "USC Upstate",
    "Sacramento St": "Sacramento State",
    "Georgia Southern": "Ga Southern",
    "South Carolina St": "SC State",
    "Louisiana Monroe": "ULM",
    "Western Illinois": "W Illinois",
    "Texas Pan American": "UTRGV",
    "Central Arkansas": "C Arkansas",
    "Houston Baptist": "Houston Christian",
    "Maryland Eastern Shore": "MD E Shore",
    "MD Baltimore County": "UMBC",
    "Prairie View A&M": "PVAMU",
    "Arkansas Pine Bluff": "UAPB",
    "SIU Edwardsville": "SIUE",
    "Southern": "Southern U",
    "Northern Kentucky": "N Kentucky",
    "Saint Louis": "St Louis",
    "Green Bay": "WI Green Bay",
    "IPFW": "Purdue Fort Wayne",
    "USC Upstate": "SC Upstate",
    "Milwaukee": "WI Milwaukee",
    "FIU": "Florida Intl",
    "Saint Peter's": "St Peter's",
    "UMKC": "Kansas City",
    "UTSA": "UT San Antonio",
    "UMass Lowell": "Mass Lowell",
    "Abilene Christian": "Abilene Chr",
    "Grambling St": "Grambling",
    "UT Rio Grande Valley": "UTRGV",
    "Fort Wayne": "Purdue Fort Wayne",
    "Little Rock": "UALR",
    "Charleston": "Col Charleston",
    "Purdue Fort Wayne": "PFW",
    "LIU": "LIU Brooklyn",
    "Dixie St": "Utah Tech",
    "Detroit Mercy": "Detroit",
    "St Thomas": "St Thomas MN",
    "Queens": "Queens NC",
    "Texas A&M Commerce": "TAMU-Commerce",
    "Houston Christian": "Houston Baptist",
    "Saint Francis": "St Francis NY",
    ####
    'American U': 'American Univ',
    "St Joseph's": "St Joseph's PA",
    'Loyola Marymount': 'Loy Marymount',
    'CSU Northridge': 'CS Northridge',
    'Albany NY': 'SUNY Albany',
        'CSU Bakersfield': 'CS Bakersfield',
    'Kennesaw State': 'Kennesaw',
    'Sacramento State': 'CS Sacramento',
    'Houston Christian': 'Houston Chr',
     'Southern U': 'Southern Univ',  # Check if this should be "Southern Univ" 
    'SFA' : "SF Austin",
    "FAU": "FL Atlantic",
    "C Arkansas": 'Cent Arkansas', 
    "Nebraska Omaha": "NE Omaha",
    'Omaha': 'NE Omaha',
    "UAPB": "Ark Pine Bluff",
    "UALR":"Ark Little Rock",
    "FDU": "F Dickinson",
    'Mass Lowell': 'MA Lowell',
    'UT Martin': 'TN Martin',
    "PVAMU": "Prairie View", ### check this 
    "NW State": "Northwestern LA",
    "TAMU-Commerce": "East Texas A&M",
    "TAMU-CC": "TAM C. Christi",
    "Kansas City": "Missouri KC",
    "MVSU" : "MS Valley St",
    "SC State": "SC Upstate",
    "McNeese" : "McNeese St"
}

# Assuming `df` is the KenPom dataset that was lost due to reset, recreating a placeholder DataFrame
for i in range(15):
    df["Team"] = df["Team"].replace(team_replacements)

In [9]:
mteams_df = teams_df[["TeamID", "TeamName", ]]
mteams_df = mteams_df.rename(columns={"TeamName": "Team"})

In [10]:
merged_df = df.merge(mteams_df, on="Team", how="left")
# merged_df['TeamID'] = merged_df["TeamID"].astype(int)

In [11]:

len(merged_df[merged_df["TeamID"].isna()]["Team"].unique())

0

In [12]:
merged_df = merged_df.rename(columns={"Year": "Season"})

## Adding seeds, and features  and creating game data

In [13]:
def clean_seed(seed):
    name = re.sub(r'[a-zA-Z]', '', seed)  # Remove numbers, periods, and semicolons
    return name.strip()

In [14]:
results_path = "data/MNCAATourneyCompactResults.csv"
seeds_path = "data/MNCAATourneySeeds.csv"

seed_df = pd.read_csv(seeds_path)

results_df = pd.read_csv(results_path)

results_df = results_df[results_df["Season"] > 2010]


seed_df["Seed"]  = seed_df["Seed"].apply(clean_seed)

In [15]:
all_df =  merged_df.merge(seed_df, on=["TeamID", "Season"])

all_df = all_df.drop(columns=['AdjustO Rank','AdjustD Rank','SOS OppO Rank', 'SOS OppD Rank'])

all_df["Seed"] = all_df["Seed"].astype(int)


# all_df

In [16]:
all_df["Conference"].unique()

array(['B10', 'ACC', 'B12', 'BE', 'MWC', 'SEC', 'WAC', 'P10', 'ASun',
       'CAA', 'WCC', 'A10', 'Horz', 'CUSA', 'Sum', 'SC', 'Ivy', 'Pat',
       'OVC', 'MVC', 'MAAC', 'NEC', 'BSky', 'MAC', 'BSth', 'BW', 'AE',
       'SB', 'Slnd', 'MEAC', 'SWAC', 'P12', 'Amer'], dtype=object)

Add Power 5

In [17]:
power_5_conferences = [
    "ACC", "B10", "B12", "P12", "SEC", "BE"
]  # Adjust based on your dataset

# Function to check if a team is in Power 5
def is_power5(conference):
    return 1 if conference in power_5_conferences else 0

# Add Power 5 indicator to all_df
all_df["Power5"] = all_df["Conference"].apply(is_power5)

Make winning percentage

In [18]:
all_df[['Wins', 'Losses']] = df['W-L'].str.split('-', expand=True).astype(int)

    # Compute Win Percentage: W / (W + L)
all_df['Win_Percentage'] = all_df['Wins'] / (all_df['Wins'] + all_df['Losses'])

all_df = all_df.drop(columns=["Wins", "Losses"])

In [19]:

all_df.head(5)

,Rank,Team,Conference,W-L,AdjustO,AdjustD,AdjustT,AdjustT Rank,Luck,Luck Rank,SOS OppO,SOS OppD,Season,TeamID,Seed,Power5,Win_Percentage
0,1,Ohio St,B10,29-2,125.4,88.4,66.0,213,0.043,72,107.4,98.3,2011,1326,1,1,0.935484
1,2,Duke,ACC,27-4,118.8,87.2,70.1,40,0.006,171,106.0,97.4,2011,1181,1,1,0.870968
2,3,Kansas,B12,30-2,119.8,88.3,69.6,46,0.071,30,106.1,98.7,2011,1242,1,1,0.937500
3,4,Texas,B12,26-6,114.0,85.3,67.2,143,-0.055,297,105.6,97.8,2011,1400,4,1,0.812500
4,5,Purdue,B10,25-6,116.1,87.2,67.1,149,-0.004,191,108.1,97.3,2011,1345,3,1,0.806452

### Create games from the data.

In [20]:

# Initialize an empty list to store processed game data
processed_games = []

# Iterate through each game in results_df
for index, row in results_df.iterrows():
    season = row["Season"]
    team_a_id = row["WTeamID"]  # Default: Winner is Team A
    team_b_id = row["LTeamID"]  # Default: Loser is Team B
    swap_flag = np.random.randint(2)  # Randomly decide whether to swap teams

    # Swap teams if `swap_flag == 1`
    if swap_flag == 1:
        team_a_id, team_b_id = team_b_id, team_a_id

    # Get team features from all_df
    # print(team_a_id, season)
    team_a_features = all_df[(all_df["Season"] == season) & (all_df["TeamID"] == team_a_id)]
    team_b_features = all_df[(all_df["Season"] == season) & (all_df["TeamID"] == team_b_id)]
    # print(team_a_features , team_a_id)


    if team_a_features.empty or team_b_features.empty:
        print(f"Skipping game {index}: Missing data for TeamA {team_a_id} or TeamB {team_b_id}")

        print(team_a_features.empty, team_a_id, team_b_features.empty, team_b_id)
        continue

    # Extract numerical features
    feature_columns = ["Rank","Win_Percentage", "AdjustO", "AdjustD", "AdjustT", "Luck", "SOS OppO", "SOS OppD", "Seed", "Power5"]
    team_a_features = team_a_features.iloc[0][feature_columns]
    team_b_features = team_b_features.iloc[0][feature_columns]

    # Compute feature differences
    feature_diffs = team_a_features - team_b_features

    # Assign binary target
    win_label = 1 if swap_flag == 0 else 0  # If swapped, flip the 
    ### essentially the default is that team A won and that categroy is the winner.

    # Store processed row
    processed_games.append({
        "Season": season,
        "TeamA_ID": team_a_id,
        "TeamB_ID": team_b_id,
        **feature_diffs.to_dict(),
        "Win": win_label
    })

# Convert list to DataFrame
final_games_df = pd.DataFrame(processed_games)

In [21]:
# final_games_df["Rank"] = final_games_df["Rank"] / 364  ## divide by total number of teams

final_games_df

,Season,TeamA_ID,TeamB_ID,Rank,Win_Percentage,AdjustO,AdjustD,AdjustT,Luck,SOS OppO,SOS OppD,Seed,Power5,Win
0,2011,1412,1155,26,0.130682,1.7,5.3,-2.1,0.090,-1.1,1.9,0,-1,0
1,2011,1114,1421,69,0.051613,-0.2,7.0,-3.5,0.075,0.8,1.0,0,0,0
2,2011,1427,1106,-83,0.014706,9.8,0.1,2.9,0.020,5.0,-0.2,0,0,1
3,2011,1425,1433,-46,-0.031250,-1.8,-9.4,-3.0,-0.065,3.5,-2.8,0,0,0
4,2011,1139,1330,5,-0.013978,2.9,2.9,3.0,-0.081,-0.1,-2.1,-1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,2024,1181,1301,-50,0.080492,7.4,-4.3,-1.4,-0.077,-0.3,0.5,-7,0,0
866,2024,1397,1345,4,0.322581,-8.0,-4.9,1.8,-0.075,0.3,1.4,1,0,0
867,2024,1104,1163,12,0.000949,-1.0,8.7,8.1,-0.075,2.9,-0.4,3,0,0
868,2024,1345,1301,-55,-0.156403,10.6,-5.4,-0.7,0.045,3.1,-1.2,-10,0,1
869,2024,1163,1345,-2,0.257116,1.6,-1.5,-2.9,0.002,-2.4,0.9,0,0,1

## Classifiers

In [22]:
X = final_games_df.drop(columns = ["Season", "TeamA_ID", "TeamB_ID" , "Win"])
y = final_games_df["Win"]

In [23]:
# X = X.drop(columns= ["SOS OppO", "SOS OppD"])

In [24]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [25]:

parameters = {'penalty': ["l2","l1"], 'C': [0.01, 0.1, 1, 10], 'solver': ["liblinear"]}

clf = GridSearchCV(LogisticRegression(), parameters)

clf.fit(X, y)

print(clf.best_score_, clf.best_params_)

0.7022988505747126 {'C': 0.01, 'penalty': 'l1', 'solver': 'liblinear'}

In [ ]:

parameters = {'kernel': ["rbf", "sigmoid"], 'C': [1e-2, 0.1,.5,  1,2,3], }

clf = GridSearchCV(SVC(tol=1e-4), parameters, cv = 5)

clf.fit(X, y)

print(clf.best_score_, clf.best_params_)

0.7034482758620689 {'C': 1, 'kernel': 'rbf'}

In [27]:
from joblib import parallel_backend
parallel_backend('loky')

import multiprocessing as mp
mp.set_start_method("spawn", force=True)

In [28]:
from xgboost import XGBClassifier

xgb_params = {
    "max_depth": [3, 5, 7, 9],           # Tree depth
    "learning_rate": [0.01, 0.1, 0.2, .5], # Step size
    "n_estimators": [50, 100, 200],    # Number of boosting rounds
    "subsample": [0.8, 1.0],           # Fraction of samples per tree
    "colsample_bytree": [0.8, 1.0]     # Fraction of features per tree
}

# Grid Search using XGBoost
clf = GridSearchCV(XGBClassifier( eval_metric="logloss"), 
                   param_grid=xgb_params, cv=5, scoring="accuracy", n_jobs=-1)

# Fit model
clf.fit(X, y)

# Best model & accuracy
print(f"Best Score: {clf.best_score_}")
print(f"Best Params: {clf.best_params_}")

/home/rjmay/.local/lib/python3.10/site-packages/joblib/externals/loky/backend/fork_exec.py:38: RuntimeWarning: Using fork() can cause Polars to deadlock in the child process.
In addition, using fork() with Python in general is a recipe for mysterious
deadlocks and crashes.

The most likely reason you are seeing this error is because you are using the
multiprocessing module on Linux, which uses fork() by default. This will be
fixed in Python 3.14. Until then, you want to use the "spawn" context instead.

See https://docs.pola.rs/user-guide/misc/multiprocessing/ for details.

  pid = os.fork()
/home/rjmay/.local/lib/python3.10/site-packages/joblib/externals/loky/backend/fork_exec.py:38: RuntimeWarning: Using fork() can cause Polars to deadlock in the child process.
In addition, using fork() with Python in general is a recipe for mysterious
deadlocks and crashes.

The most likely reason you are seeing this error is because you are using the
multiprocessing module on Linux, which uses fork() by default. This will be
fixed in Python 3.14. Until then, you want to use the "spawn" context instead.

See https://docs.pola.rs/user-guide/misc/multiprocessing/ for details.

  pid = os.fork()

Best Score: 0.6873563218390804
Best Params: {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 50, 'subsample': 0.8}

## 2025 data

In [36]:

path  = "data/kenpom_data25.csv"

df25 = pd.read_csv(path)

Extract Team Names and seeds

In [37]:
# Drop rows where "Team" doesn't contain a number
df25 = df25[df25['Team'].str.contains(r'\d', regex=True, na=False)]

# Extract number and words into separate columns
df25['Seed'] = df25['Team'].str.extract(r'(\d+)')
df25["Seed"] = df25["Seed"].astype(int)

df25['Team'] = df25['Team'].str.replace(r'\s*\d+$', '', regex=True)

Fix team names and add team names

In [38]:
df25["Team"] = df25["Team"].apply(clean_team_name)
df25["Team"] = df25["Team"].apply(clean_team_name)


df25["Team"] = df25["Team"].replace(team_replacements)


df25 = df25.merge(mteams_df, on="Team", how="left")

drop columns and fix add winnig percentage and power 5

In [39]:
df25 = df25.drop(columns=['AdjustO Rank','AdjustD Rank','SOS OppO Rank', 'SOS OppD Rank'])

df25[['Wins', 'Losses']] = df25['W-L'].str.split('-', expand=True).astype(int)


# power 5
df25["Power5"] = df25["Conference"].apply(is_power5)

    # Compute Win Percentage: W / (W + L)
df25['Win_Percentage'] = df25['Wins'] / (df25['Wins'] + df25['Losses'])

df25 = df25.drop(columns=["Wins", "Losses"])

In [48]:
len(df25[df25["TeamID"].isna()])

0

In [41]:
import itertools

# List of teams in 2025 dataset
teams = df25["TeamID"].unique()

# Feature columns to use
feature_columns = ["Rank", "Win_Percentage", "AdjustO", "AdjustD", "AdjustT", "Luck", "SOS OppO", "SOS OppD", "Seed", "Power5"]

# Initialize an empty list to store matchups
processed_matchups = []

# Iterate through each possible matchup (every team vs. every other team)
for team_a_id, team_b_id in itertools.combinations(teams, 2):
    # Get team stats
    team_a_features = df25[df25["TeamID"] == team_a_id]
    team_b_features = df25[df25["TeamID"] == team_b_id]

    # Ensure both teams exist in the dataset
    if team_a_features.empty or team_b_features.empty:
        print(f"Skipping matchup: {team_a_id} vs. {team_b_id} (Missing data)")
        continue

    # Extract numerical features
    team_a_features = team_a_features.iloc[0][feature_columns]
    team_b_features = team_b_features.iloc[0][feature_columns]

    # Compute feature differences
    feature_diffs = team_a_features - team_b_features

    # Store matchup
    processed_matchups.append({
        "TeamA_ID": team_a_id,
        "TeamB_ID": team_b_id,
        **feature_diffs.to_dict()
    })

# Convert to DataFrame
matchups_df = pd.DataFrame(processed_matchups)